<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Used to log everything aka run log file -->
    <add key="csvfilepath" value="C:\temp\ups\runlog.csv" />
    <!-- Used to output ODB urls if choose to do so -->
    <add key="odbUrlsCsvFile" value="C:\temp\ups\odburls.csv" />
    <!-- O365 admin site url -->
    <add key="adminsite" value="https://mod01-admin.sharepoint.com" />
    <!-- SPO MySite (ODB) Host site url -->
    <add key="mySiteHost" value="https://mod01-my.sharepoint.com" />    
    <!--O365 admin user account-->
    <add key="adminuser" value="admin@mod01.onmicrosoft.com" />
    <!--O365 admin user password (optional). You will be prompted if not provided  -->
    <add key="adminPassword" value="secretpwd" />
    <!--Provide list of comma seperated user logins or group names. These users/groups will be identified and reported by this tool-->
    <add key="filterusers" value="Everyone,Everyone except external users,i:0#.f|membership|alexw@mod01.onmicrosoft.com" />
    <!--Provide list of comma seperate list names that needs to be ignored-->
    <add key="excludelists" value="User Information List,TaxonomyHiddenList,Maintenance Log Library,Style Library,Converted Forms,Access Requests,Content type publishing error log,MicroFeed,AppData,AppFiles,Composed Looks,Form Templates, Master Page Gallery,Site Assets,Solution Gallery,Theme Gallery,Web Part Gallery,wfpub,Workflow History,Workflow Tasks,Variation Labels,Translation Status,Suggested Content Browser Locations,List Template Gallery,Long Running Operation Status,Master Page Gallery,Notification List,fpdatasources,Device Channels,Content and Structure Reports,Cache Profiles,Social" />
    <!--Set this to True only if you are sure you want to remove the identified (filterusers) users-->
    <add key="removefilteredusers" value="false" />
    <!--Used to log users/group that are removed. This file is used only when 'remvoefilteredusers' flag is set to True-->
    <add key="csvremoveusersfiletolog" value="C:\temp\ups\removusers.csv" />
    <!--CSV file contains site urls to be processed (optional)-->
    <add key="csvfilesitestoprocess" value="C:\temp\ups\sitestoprocess.csv" />
    <!--Set this to True if you want to supply site urls in  CSV. This required 'csvfilesitestoprocess' be set too. -->
    <add key="UseCSVAsInput" value="true" />
    <!--This flag is used if UseCSVAsInput is set to false. Use this to limit the scope to All sites (includes SPO sites, ODB sites), SPO sites only or ODB sites only-->
    <!-- ODB, SPO, All -->
    <add key="sitesScope" value="ODB" /> 
    <!-- Set thise to true if choose to ignore lists level permissions -->
    <add key="skipLists" value="false" /> 
    <!-- Set this to true if choose to ignore items level permissions -->
    <add key="skipListItems" value="false" />
    <!--Provide the ODB site url of the user who is going to run this tool-->
    <add key="AdminODBUrl" value="https://mod01-my.sharepoint.com/personal/admin_mod01_onmicrosoft_com" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>