<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="csvfilepath" value="C:\temp\ups\odbpermlog3.csv" />
    <add key="adminsite" value="https://mod01-admin.sharepoint.com" />
    <add key="mySiteHost" value="https://mod01-my.sharepoint.com" />
    <add key="adminuser" value="admin@mod01.onmicrosoft.com" />
    <add key="filterusers" value="Everyone,Everyone except external users,i:0#.f|membership|alexw@mod01.onmicrosoft.com" />
    <add key="excludelists" value="User Information List,TaxonomyHiddenList,Maintenance Log Library,Style Library,Converted Forms,Access Requests,Content type publishing error log,MicroFeed,AppData,AppFiles,Composed Looks,Form Templates, Master Page Gallery,Site Assets,Solution Gallery,Theme Gallery,Web Part Gallery,wfpub,Workflow History,Workflow Tasks,Variation Labels,Translation Status,Suggested Content Browser Locations,List Template Gallery,Long Running Operation Status,Master Page Gallery,Notification List,fpdatasources,Device Channels,Content and Structure Reports,Cache Profiles,Social" />
    <add key="removefilteredusers" value="false" />
    <add key="csvremoveusersfiletolog" value="C:\temp\ups\removusers.csv" />
    <add key="csvfilesitestoprocess" value="C:\temp\sitestoprocess.csv" />
    <add key="UseCSVAsInput" value="false" />
    <add key="sitesScope" value="ODB" /> <!-- ODB, SPO, All -->
    <add key="skipLists" value="false"/> <!-- Lists and list items will not be processed/checked for unique perms -->
    <add key="skipListItems" value="true"/> <!-- List items will not be processed-->
    <add key="AdminODBUrl" value="https://mod01-my.sharepoint.com/personal/admin_mod01_onmicrosoft_com"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserProfileServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="UserProfileServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://mod01-admin.sharepoint.com/_vti_bin/UserProfileService.asmx" binding="basicHttpBinding" bindingConfiguration="UserProfileServiceSoap" contract="ServiceReference1.UserProfileServiceSoap" name="UserProfileServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>